<div>
    <a class="brand" href="/">
        <span class="title">Time Sheets for <span data-bind="text: selectedImpersonateEmployee().FullName"></span></span>
    </a>
    <span style="float: right; margin: 30px 30px 0 0;"><span>Impersonate: </span><select data-bind="options: impersonableEmployees, optionsText: 'FullName', value: selectedImpersonateEmployee"></select>
        <br />
        <span style="font-size:small">Include inactive employees <input type="checkbox" data-bind="checked: includeInactiveEmployees" /></span>
    </span>    
</div><br />
<nav class="" style="margin-top:60px">
    <div class="">       
        <div class="nav nav-tabs" data-bind="foreach: visibleTabs">
            <a data-bind="css: { active: isActive }, attr: { href: hash }, html: title" class="btn btn-info"></a>
        </div>
        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
            <div class="progress progress-striped active page-progress-bar">
                <div class="bar" style="width: 100px;"></div>
            </div>
        </div>
    </div>
</nav>